<div class="orderSuccess">
	<h2>Order Completed</h2>
	<h3>Order Number: {{ordernumber}}</h3>
	<div>Your order has been submitted and the appropriate publication(s) will be emailed</div>
	<div class="buttons">
		<button type="button" ng-click="reset()">OK</button>
	</div>
</div>