<div>
    <div data-ng-if="orderCtrl.steps.step == 1" class="mainDetails" main-details></div>
    <form name="orderDetailsForm" data-ng-submit="orderCtrl.submitOrder(orderDetailsForm.$valid)" novalidate>
    	<div data-ng-if="orderCtrl.steps.step == orderCtrl.steps.advertContentStep" class="order-pricing">
            <label>Price (Ex. VAT):</label><input type="text" class="vsmall" data-ng-model="orderCtrl.priceExVat" data-ng-change="orderCtrl.updatePriceIncVat()"/>
            <label>Price (Inc. VAT):</label><input type="text" class="vsmall" data-ng-model="orderCtrl.priceIncVat" data-ng-change="orderCtrl.updatePriceExVat()"/>
            <label>Deposit:</label><input type="text" class="vsmall" data-ng-model="orderCtrl.deposit"/>
    	</div>
        <div data-ng-if="orderCtrl.steps.step == orderCtrl.steps.advertContentStep" class="orders"
            data-ng-repeat="order in orderCtrl.orderParts track by order.id">
            <div order-details class="orderDetails"></div>
        </div>
        <fieldset data-ng-if="orderCtrl.steps.step == orderCtrl.steps.advertContentStep" 
            style="height:160px;">
            <legend>Signatures</legend>
            <div>
                <signature-pad type="Customer" accept="accept" clear="clear" width="340" height="100" dataurl="orderCtrl.customerSignature"></signature-pad>
                <signature-pad type="User" accept="accept" clear="clear" width="340" height="100" dataurl="orderCtrl.userSignature"></signature-pad>
            </div>
        </fieldset>
        <div class="error" data-ng-if="orderCtrl.orderError">{{orderError}}</div>
        <div class="buttons" data-ng-if="orderCtrl.steps.step == 2">
            <button class="formButton" type="button" data-ng-click="orderCtrl.goToPreviousStep()">Back</button>
            <button class="formButton" type="button" data-ng-click="orderCtrl.addMoreDetails()">Add More</button>
            <button class="formButton" type="submit">Submit</button>
        </div>
    </form>
    <order-success data-ng-if="orderCtrl.steps.step == orderCtrl.steps.maxSteps + 1" class="successMsg"
        ordernumber="orderCtrl.orderNumber" ok-fn="orderCtrl.reset()"></order-success>
</div>
<script type="text/ng-template" id="processingOrder">
    <div class="ngdialog-message">
        <h3>Order Submission</h3>
        <p><i class="fa fa-cog fa-spin" style="font-size:48px"></i>Processing Order</p>
    </div>
</script>