<div>
	<div ng-if="orderCtrl.steps.step == 1" class="mainDetails" main-details></div>
	<div ng-if="orderCtrl.steps.step == orderCtrl.steps.advertContentStep" class="orders" ng-repeat="order in orderCtrl.orderParts track by order.id">
		<div order-details class="orderDetails"></div>
	</div>
	<order-success ng-if="orderCtrl.steps.step == orderCtrl.steps.maxSteps + 1" class="successMsg" ordernumber="orderNumber" ok-fn="orderCtrl.reset()"></order-success>
	<div class="error" ng-if="orderCtrl.orderError">{{orderError}}</div>
	<div class="buttons" ng-if="orderCtrl.steps.step <= orderCtrl.steps.maxSteps">
		<button ng-if="orderCtrl.steps.step > 1" type="button" ng-click="orderCtrl.goToPreviousStep()">Back</button>
		<button ng-if="orderCtrl.steps.step == orderCtrl.steps.advertContentStep" type="button" ng-click="orderCtrl.addMoreDetails()">Add More</button>
		<button ng-if="orderCtrl.steps.step == orderCtrl.steps.maxSteps" type="submit">Submit</button>
	</div>
</div>