<div>
    <div style="font-weight: bold;">Contact Us:</div>
    <table>
        <tr>
            <td>
                <div style="width: 300px;">
                    Address:
                    <div style="margin-left: 20px;">
                        Local Women Magazine,<br /> 4 Blindgate Street, Coleraine,<br /> County Londonderry, BT52 1EZ
                    </div>
                </div>
            </td>
            <td valign="top">
                <div style="width: 300px;">
                    Email: <a href="$link.setURI('mailto:orders@localwomensnews.com')">orders@localwomensnews.com</a>
                </div>
            </td>
        </tr>
    </table>
</div>