<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Local Women</title>
<link rel="icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.css">
<link rel="stylesheet" type="text/css" href="css/ngDialog.css">
<link rel="stylesheet" type="text/css" href="css/animations.css">
<link rel="stylesheet" type="text/css" href="css/app.css">
<link rel="stylesheet" type="text/css" href="css/nav.css">
<link rel="stylesheet" type="text/css" href="css/publication.css">
<link rel="stylesheet" type="text/css" href="css/search.css">
<link rel="stylesheet" type="text/css" href="css/signature.css">
<link rel="stylesheet" type="text/css" href="css/ui-grid.css">
<link rel="stylesheet" type="text/css" href="css/user.css">
<link rel="stylesheet" type="text/css" href="css/dialog.css">
</head>
<body data-ng-app="localWomenApp">
    <div class="outter-content">
        <div class="content" data-ng-controller="MainController as mainCtrl">
            <h2>Local Women Order Form</h2>
            <div class="user-control">
                Welcome {{mainCtrl.user.username}} <a href="/login.html?logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-3" data-ng-controller="NavController as navCtrl">
                <ul class="nav">
                    <li class="navlinks" data-ng-class="{ active: navCtrl.isSet('order') }"><a href="/#!/orderform"><i
                            class="fa fa-clipboard" aria-hidden="true"></i> Order</a></li>
                    <li class="navlinks" data-ng-class="{ active: navCtrl.isSet('search') }"><a href="/#!/search"><i
                            class="fa fa-search" aria-hidden="true"></i> Search</a></li>
                    <li class="navlinks" data-ng-class="{ active: navCtrl.isSet('users') }" data-ng-if="mainCtrl.role === 'ADMIN'"><a
                        href="/#!/user"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
                    <li class="navlinks" data-ng-class="{ active: navCtrl.isSet('publications') }"
                        data-ng-if="mainCtrl.role === 'ADMIN'"><a href="/#!/publication"><i class="fa fa-newspaper-o"
                            aria-hidden="true"></i> Publications</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div data-ng-view></div>
            </div>
        </div>
    </div>
    <script src="js/angular/angular.js" type="text/javascript"></script>
    <script src="js/angular/angular-route.js" type="text/javascript"></script>
    <script src="js/angular/ui-grid.js" type="text/javascript"></script>
    <script src="js/angular/ngDialog.js" type="text/javascript"></script>
    <script src="js/angular/ui-bootstrap.js" type="text/javascript"></script>
    <script src="js/angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="js/angular/signature_pad.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller/main.controller.js" type="text/javascript"></script>
    <script src="js/controller/edit-business.controller.js" type="text/javascript"></script>
    <script src="js/controller/edit-order.controller.js" type="text/javascript"></script>
    <script src="js/controller/nav.controller.js" type="text/javascript"></script>
    <script src="js/controller/order.controller.js" type="text/javascript"></script>
    <script src="js/controller/publication.controller.js" type="text/javascript"></script>
    <script src="js/controller/search.controller.js" type="text/javascript"></script>
    <script src="js/controller/user.controller.js" type="text/javascript"></script>
    <script src="js/directive/main-details.directive.js" type="text/javascript"></script>
    <script src="js/directive/order-details.directive.js" type="text/javascript"></script>
    <script src="js/directive/order-success.directive.js" type="text/javascript"></script>
    <script src="js/directive/publication-create.directive.js" type="text/javascript"></script>
    <script src="js/directive/signature.directive.js" type="text/javascript"></script>
    <script src="js/directive/user-create.directive.js" type="text/javascript"></script>
    <script src="js/directive/user-list.directive.js" type="text/javascript"></script>
    <script src="js/factory/nav.factory.js" type="text/javascript"></script>
    <script src="js/factory/sorting-util.factory.js" type="text/javascript"></script>
    <script src="js/service/business.service.js" type="text/javascript"></script>
    <script src="js/service/details.service.js" type="text/javascript"></script>
    <script src="js/service/order.service.js" type="text/javascript"></script>
    <script src="js/service/publication.service.js" type="text/javascript"></script>
    <script src="js/service/user.service.js" type="text/javascript"></script>
</body>
</html>
