<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Local Women Order Form</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-app="localWomenApp">
	<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
        Logged in user: <span sec:authentication="name"></span> |					
        Roles: <span sec:authentication="principal.authorities"></span>				
        <div>
            <form action="/logout" th:action="@{/logout}" method="post">					
                <input type="submit" value="Logout" />
            </form>
        </div>
    </div>
	<div class="outter-content">
		<div class="content">
			<h2>Local Women Order Form</h2>
			<div ng-controller="OrderController">
				<div ng-if="steps.step == 1" class="mainDetails" main-details></div>
				<div ng-if="steps.step == steps.advertContentStep" class="orders" ng-repeat="order in orderParts track by order.id">
					<div order-details class="orderDetails"></div>
				</div>
				<order-success ng-if="steps.step == steps.maxSteps + 1" class="successMsg" ordernumber="orderNumber" ok-fn="reset()"></order-success>
				<div class="error" ng-if="orderError">{{orderError}}</div>
				<div class="buttons" ng-if="steps.step <= steps.maxSteps">
					<button ng-if="steps.step > 1" type="button" ng-click="goToPreviousStep()">&lt;Back</button>
					<button ng-if="steps.step < steps.maxSteps" type="button" ng-click="goToNextStep()">Next&gt;</button>
					<button ng-if="steps.step == steps.advertContentStep" type="button" ng-click="addMoreDetails()">Add More</button>
					<button ng-if="steps.step == steps.maxSteps" type="button" ng-click="submitOrder()">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	<script src="js/angular.js" type="text/javascript"></script>
	<script src="js/controller/order.controller.js" type="text/javascript"></script>
</body>
</html>
